.galery {
    width: 1700px;
    height: 900px;
    /* background-color: green; */
       overflow: hidden;    
}

.galery .divisoes {
    width: 500%;
    animation-name: animacao;
    animation-duration: 60s;
    animation-iteration-count: infinite;
}

.galery .divisoes .unimed {
    width: 19.9%;
    /* position: relative; */
float:right;
}